<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{backUrl}}"></ion-back-button>
    </ion-buttons>

    <ion-title>{{data?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-thumbnail>
    <ion-img [src]="data?.image_thumb"></ion-img>
  </ion-thumbnail>
  <h2>price: {{data?.price}}</h2>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info" checked>
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="detail">
      <ion-label>Details</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="section">
    <div *ngSwitchCase="'info'">
      <h3>model: {{data?.model}}</h3>
      <p>{{data?.description}}</p>
    </div>
    <div *ngSwitchCase="'detail'">      
      <div [innerHtml]="data?.text"></div>
    </div>
  </div>


</ion-content>