<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-text>Welcome, {{name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>{{email}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>{{contact}}</ion-text>
    </ion-item>
  </ion-list>


  <ion-button expand="block" (click)="goToEditAccount()">Edit Account</ion-button>
  <ion-button expand="block" (click)="goToEditPassword()">Edit Password</ion-button>
  <ion-button expand="block" (click)="logout()">Logout</ion-button>

</ion-content>